@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Nunito:wght@300&display=swap');


body {
    background-color: #3c096c;
}

.article {
    width: 90%;
    margin: 0 auto 40px;
    font-family: 'Nunito', sans-serif;
    background-color: #3c096c;

}

.article__title {
    text-align: center;
    padding: 20px;
}

.article__h1 {
    font-size: 22px;
    color: #ffffff;
    letter-spacing: 1px;
    margin-top: 3px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    align-items: center;
}

.breadcrumb__link {
    font-size: 12px;
    text-decoration: none;
    color: #e598ff;
}

.breadcrumb__link:hover {
    text-decoration: underline;
    color: #ac5ec6;
}

.breadcrumb__img {
    width: 11px;
    margin: 8px;
}

.article__img {
    margin-bottom: 20px;
    width: 100%;
}

.article__details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.article__date {
    margin: 0 10px;
    font-size: 12px;
    font-style: italic;
    color: #e598ff;
}

.article__tag {
    font-size: 14px;
    padding: 5px 7px;
    color: #e598ff;
    border: 1px solid #e598ff;
    margin: 0 10px;
    border-radius: 15px;
}

.article__content {
    font-weight: 100;
    font-size: 20px;
    color: #ffffff;
    padding: 10px 20px;
}

p {
    margin-bottom: 20px;
    line-height: 1.8;
}

h1 {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}